name: Build Minify BPB Panel

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "latest"

      - name: Install terser
        run: |
          npm install -g terser

      - name: Minify BPB worker js
        run: |
          terser build/unobfuscated-worker.js --output _worker.js \
            --compress \
            --mangle \
            --comments false

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: main
          commit_message: ':arrow_up: update latest bpb panel'