name: Build Obfuscate BPB Panel

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "latest"

      - name: Install javascript-obfuscator
        run: |
          npm install -g javascript-obfuscator

      - name: Obfuscate BPB worker js
        run: |
          javascript-obfuscator build/unobfuscated-worker.js --output _worker.js \
          --compact true \
          --control-flow-flattening true \
          --control-flow-flattening-threshold 0.8 \
          --dead-code-injection true \
          --dead-code-injection-threshold 0.4 \
          --debug-protection true \
          --debug-protection-interval 1000 \
          --disable-console-output true \
          --identifier-names-generator hexadecimal \
          --log false \
          --numbers-to-expressions true \
          --rename-globals true \
          --self-defending true \
          --shuffle-string-array true \
          --split-strings true \
          --split-strings-chunk-length 10 \
          --string-array true \
          --string-array-encoding 'rc4' \
          --string-array-indexes-type hexadecimal \
          --string-array-threshold 0.75 \
          --transform-object-keys true \
          --unicode-escape-sequence true

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: main
          commit_message: ':arrow_up: update latest bpb panel'
